/* 페이지 제목 */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 버튼을 절대 위치로 배치하기 위한 상대적 위치 */
}

/* 버튼을 오른쪽 끝에 배치 */
.button-right {
  position: absolute;
  right: 0;
}

/* 기본 버튼 스타일 */
.button {
  background-color: #7a82ed !important;
}

.button:hover {
  background-color: #33c2e2 !important;
}

/* 기본 버튼 스타일 (Contained) */
.primary-button {
  background-color: #7a82ed !important;
  color: #fff !important;
}

.primary-button-width {
  background-color: #7a82ed !important;
  color: #fff !important;
  width: 200px;
}

.primary-button:hover .primary-button-width:hover {
  background-color: #33c2e2 !important;
}

/* 외곽선 버튼 스타일 (Outlined) */
.outlined-button {
  border-color: #7a82ed !important;
  color: #7a82ed !important;
}

.outlined-button-width {
  border-color: #7a82ed !important;
  color: #7a82ed !important;
  width: 150px;
}

/* 선택시 색 채워짐, 글씨 흰색 */
.outlined-button-width.active {
  background-color: #7a82ed !important;
  color: white !important;
}

.outlined-button:hover .outlined-button-width:hover {
  border-color: #33c2e2 !important;
  color: #33c2e2 !important;
}

/* 인포 컨테이너 */
.info-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* 카테고리 */
.category {
  display: flex;
  justify-content: center;
  width: 100%;
}

.category_id {
  font-size: 15px !important;
  height: 30px !important;
}

/* 폼 컨테이너 */
.form-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

/* 섹션 제목 */
.section-container {
  flex: 2 1 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  position: relative;
}

/* 이미지 업로드 섹션 */
.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  width: 400px;
  height: 400px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.preview-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .image-upload {
  display: flex;
  justify-content: center;
  margin-top: 16px;
} */

.image-upload-button {
  border-color: #7a82ed;
  color: #7a82ed;
}

/* 입력 섹션 */
.input-section {
  flex: 1 1 100%;
  padding: 8px;
}

/* 폼 아이템 */
.form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* 제목 인풋 */
.form-div {
  width: 150px;
  text-align: right;
  margin-right: 8px;
}

.form-div-sub {
  margin-left: 8px;
  align-self: flex-end;
}

/* 입력 필드 */
.input-field {
  flex: 1 !important;
}

/* 정보 아이콘 */
.icon {
  padding: 0;
  margin-left: 8px;
  align-self: flex-end;
  opacity: 0.5;
}

/* 태그 */
.tags-container {
  margin-top: 10px;
}

.tag-chip {
  margin: 5px;
}

/* Quill 에디터 */
.editer {
  padding-top: 10px;
  width: 100%;
  height: 500px;
}

/* 모달 스타일 */
.modal-content {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: auto;
  width: 600px;
  margin-top: 100px;
  border-radius: 10px;
}

.modal-input {
  margin-top: 20px !important;
  margin-bottom: 16px !important;
  width: 550px !important;
}

/* 옵션 추가 시 나오는 옵션들 */
.option-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 4px;
}

/* 선물리스트 */
.gift-list {
  border: 1px solid rgb(128, 128, 128, 0.3); /* 얇은 테두리 */
  border-radius: 5px;
  padding: 10px;
  height: 150px;
  width: 380px;
  overflow-y: auto; /* 스크롤 */
  margin-top: 16px;
}

/* 구성- 선택된 리스트 */
.selected-rewards {
  margin-top: 10px; /* 위쪽 여백 */
}

.reward-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* 아래쪽 여백 */
}

.count-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 5px; /* 안쪽 여백 */
  margin-left: 10px; /* 왼쪽 여백 */
}

.package-section {
  padding: 10px;
  width: 300px;
  background-color: lightgray;
  border-radius: 8px;
}

/* 선택된 구성 */
.package-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quantity-box {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-bottom: 10px;
}

.reward-list {
  margin-bottom: 16px;
}

.reward-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.reward-count {
  margin-left: auto;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.reward-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* 탭 컨텐츠 */
.tab-content {
  margin-top: 10px;
}

/* 단위 */
.unit {
  margin-left: 8px;
  align-self: flex-end;
}
