
.exhibition .div-wrapper {
    align-items: center;
    align-self: stretch;
    position: relative;

}

.exhibition .container {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-left: -9.5px;
    margin-right: -9.5px;
    max-width: 1404px;
    padding: 0px 16px;
    position: relative;
    width: 1404px;
}

.exhibition .damdda-special {
    height: 24px;
    position: relative;
    width: 1372px;
}
.exhibition .text{
    color: var(--edugoormiocharade);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    left: 0;
    letter-spacing: -0.1px;
    line-height: 30px;
    white-space: nowrap;
}
.exhibition .div {
    color: var(--edugoormiocharade);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.exhibition .text-wrapper {
    font-weight: 400;
    letter-spacing: -0.02px;
}

.exhibition .span {
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    letter-spacing: -0.02px;
}

.exhibition .exhibition-container-wrapper {
    align-self: stretch;
    height: 300px;
    position: relative;
    width: 100%;
}

.exhibition .exhibition-container-2 {
    align-items: flex-start;
    display: inline-flex;
    height: 246px;
    left: 1px;
    padding: 0px 0px 4px;
    position: relative;
}

.exhibition .fresh-sale {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 0px 20px 0px 0px;
    position: relative;
    width: 464px;
}

.exhibition .background-border {
    align-items: flex-start;
    background-color: var(--edugoormiowhite);
    border: 1px solid;
    border-color: var(--edugoormiomischka);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 242.36px;
    justify-content: center;
    padding: 1px;
    position: relative;
    width: 444px;
}

.exhibition .image {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.exhibition .container-2 {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 240px;
    left: 1px;
    padding: 24px;
    position: absolute;
    top: 1px;
    width: 442px;
}

.exhibition .heading-margin {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 0px 12px;
    position: relative;
    width: 100%;
}

.exhibition .div-wrapper-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.exhibition .text-wrapper-2 {
    align-self: stretch;
    color: var(--edugoormiowhite);
    font-family: var(--edu-goorm-io-roboto-medium-16-font-family);
    font-size: var(--edu-goorm-io-roboto-medium-16-font-size);
    font-style: var(--edu-goorm-io-roboto-medium-16-font-style);
    font-weight: var(--edu-goorm-io-roboto-medium-16-font-weight);
    letter-spacing: var(--edu-goorm-io-roboto-medium-16-letter-spacing);
    line-height: var(--edu-goorm-io-roboto-medium-16-line-height);
    margin-top: -1px;
    position: relative;
}

.exhibition .container-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.exhibition .text-wrapper-3 {
    align-self: stretch;
    color: var(--edugoormiowhite);
    font-family: var(--edu-goorm-io-roboto-medium-22-5-font-family);
    font-size: var(--edu-goorm-io-roboto-medium-22-5-font-size);
    font-style: var(--edu-goorm-io-roboto-medium-22-5-font-style);
    font-weight: var(--edu-goorm-io-roboto-medium-22-5-font-weight);
    letter-spacing: var(--edu-goorm-io-roboto-medium-22-5-letter-spacing);
    line-height: var(--edu-goorm-io-roboto-medium-22-5-line-height);
    margin-top: -1px;
    position: relative;
}

.exhibition .button {
    all: unset;
    align-items: center;
    background-color: var(--edugoormiowhite-16);
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    height: 52px;
    padding: 13.51px 24px 13.5px;
    position: relative;
}

.exhibition .container-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.exhibition .text-wrapper-4 {
    color: var(--edugoormiowhite);
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.exhibition .SVG-margin {
    height: 24.99px;
    margin-left: -2.13e-14px;
    position: relative;
    width: 18px;
}



.exhibition .link-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 242px;
    max-height: 274px;
    position: relative;
    width: 212px;
}

.exhibition .link {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}
/* /// */
.exhibition {
    display: flex;
    /* justify-content: center; 수평 중앙 배치 */
    align-items: center; /* 수직 중앙 배치 */
    background-color: var(--edugoormiowhite);
    position: relative;
    width: 100%; /* 화면 전체 너비 */
    margin-left: 5px;
}

.exhibition .exhibition-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 자식 요소를 수평 중앙 배치 */
    align-items: center; /* 자식 요소를 수직 중앙 배치 */
    width: 70%; /* 70%만 차지하도록 설정 */
    margin: 0 auto; /* 상하 0, 좌우 자동 중앙 정렬 */
    padding: 30px 0px;
}

.exhibition .div-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
}


.exhibition .exhibition-container-wrapper {
    align-items: center;
    width: 100%;
}

.damdda-title {
    font-family: 'Arial', sans-serif; /* 또는 적합한 폰트 */
    font-size: 24px; /* 글자 크기 */
    color: #6f6f6f; /* 'DamDda : special' 텍스트 색상 */
    font-weight: 400; /* 기본 굵기 */
}

.highlight {
    color: #007bff; /* 'Exhibition' 텍스트의 파란색 */
    font-weight: 600; /* 강조된 굵기 */
}
