.card {


  max-width: 1920px; /* Maximum width the footer can have */
  margin: 0 auto;
  width: 70%;
  position:relative;
}


/*  */

.card .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  margin-bottom: -50px; /* 각 요소 사이에 여유 공간을 추가 */

  
}

.card .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1862px;
  position: relative;
}

.card .p {
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.card .text-wrapper {
  font-weight: 500;
  letter-spacing: -0.02px;
}

.card .span {
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: -0.02px;
}



.card .card-container {
  align-items: flex-start;
  flex-direction: column;
  height: 377px;
  margin-bottom: -68px;
  max-width: 1404px;
  padding: 0px 14px;
  position: relative;
  width: 1404px;
}



/* Card가 움직이지 않도록 */
.card .card-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 242px;
  max-height: 274px;
  position:absolute; /* 움직임 방지를 위해 static으로 변경 */
  width: 212px;
}

.card .card-margin-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 41.16px;
  height: 310px;
  padding: 0px var(--size-space-0) 3.29px 0px;
  position: relative;
}

.card .card-margin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 308.73px;
  justify-content: center;
  margin-bottom: -2.03px;
  position: relative;
  width: 255.23px;
}

.card .card-container-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 309.85px;
  margin-bottom: -0.56px;
  margin-top: -0.56px;
  position: relative;
  width: 100%;
}


.card .card-image {
  align-self: stretch;
  border-radius: 8.92px;
  height: 149px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card .coverimage-png-wrapper {
  height: 149px;
  width: 255px;
}

.card .coverimage-png {
  background-image: url(../assets/coverImage.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8.92px;
  height: 164px;
  left: 1px;
  position: relative;
  width: 258px;
}

.card .card-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  min-height: 10px;
  position: relative;
  width: 100%;
}

.card .card-project-title {
  color: var(--edugoormiocharade);
  font-size: 15px;
  font-weight: 400;
  height: 10px;
  letter-spacing: -0.1px;
  line-height: 30px;
  margin-top: 1px;
  position: relative;
  white-space: nowrap;
  width: 184px;
}

.card .text-wrapper-2 {
  font-weight: 800;
}

.card .text-wrapper-3 {
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 800;
}

.card .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 19.76px;
  height: 82.33px;
  position: relative;
  width: 100%;
}

.card .div-wrapper-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 80px;
  position: relative;
  width: 100%;
  /* z-index: 1;  */
}

.card .card-text-phrase {
  color: var(--edugoormiocharade);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  height: 29px;
  letter-spacing: -0.11px;
  line-height: 22.2px;
  position: relative;
  white-space: nowrap;
}

.card .div-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 20.58px;
  justify-content: flex-end;
  margin-bottom: -7.41px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.card .card-progress-bar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.card .SVG-margin {
  height: 15.55px;
  position: relative;
  width: 17.77px;
}

.card .div-wrapper-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.card .text-wrapper-4 {
  color: var(--edugoormiotrout);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  letter-spacing: -0.11px;
  line-height: 20px;
  margin-top: -1.11px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.card .margin {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 15.55px;
  padding: 0px 8.89px;
  position: relative;
  width: 18.88px;
}

.card .vertical-divider {
  background-color: var(--edugoormiocharade-8);
  height: 15.55px;
  position: relative;
  width: 1.11px;
}

.card .text-wrapper-5 {
  color: var(--edugoormiospun-pearl);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  letter-spacing: -0.11px;
  line-height: 20px;
  margin-top: -1.11px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}



/* ProgressBar 관련 CSS 수정 */
.card .progress-bar-instance {
  margin: 0 auto !important; /* 중앙 정렬 */
  width: 250px !important;    /* 너비 조정 */
}

.card .design-component-instance-node {
  height: 5px !important;    /* progress bar 높이 수정 */
  width: 250px !important;   /* progress bar 너비 수정 */
}



.card .button-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 2.14px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card .progressor {
  color: var(--edugoormiobright-gray);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.11px;
  white-space: nowrap;
  

}



.card .text-wrapper-7 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.01px;
}

.card .progressor-margin {
  color: var(--edugoormiowhite-16);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 9.9px;
  font-weight: 400;
  letter-spacing: -0.11px;
  line-height: 20px;
  margin-top: -0.82px;
  position: relative;
  width: 117px;
}

.card .tag {
  align-items: center;
  background-color: #5c59ee;
  border-radius: 6.59px;
  display: flex;
  height: 16.47px;
  justify-content: center;
  padding: 1.65px 7.41px;
  position: relative;
  width: 65.04px;
}

.card .container-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 2.14px;
  justify-content: flex-end;
  margin-bottom: -1.41px;
  margin-top: -1.41px;
  position: relative;
}

.card .text-wrapper-8 {
  color: var(--edugoormiowhite);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 8.2px;
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: 15.8px;
  margin-top: -0.82px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.card .heart {
  height: 30px;
  left: 210px;
  position: absolute;
  top: 15px;
  width: 30px;
}

.card .popular-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 309.85px;
  position: relative;
  width: 300px;
}

.card .link {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8.92px;
  display: flex;
  flex-direction: column;
  height: 270.12px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card .container-wrapper {
  align-self: stretch;
  border-radius: 8.92px;
  height: 163.84px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card .container-3 {
  height: 164px;
  width: 255px;
}

.card .coverimage-png-2 {
  background-image: url(../assets/coverImage.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8.92px;
  height: 194px;
  left: 1px;
  position: relative;
  top: -1px;
  width: 291px;
}

.card .margin-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 105.93px;
  justify-content: center;
  padding: 8.89px 0px 0px;
  position: relative;
  width: 254.39px;
}

.card .text-container {
  align-self: stretch;
  height: 46.66px;
  overflow: hidden;
  position: relative;
  width: 100%;
}



.card .title {
  color: var(--edugoormiocharade);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  height: 49px;
  left: 0;
  letter-spacing: -0.11px;
  line-height: 22.2px;
  position: absolute;
  top: -1px;
  width: 191px;
}


.card .container-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  margin-top: -18.35px;
  position: relative;
  width: 100%;
}

.card .margin-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 8.89px 0px 0px;
  position: relative;
}

.card .button {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}



.card .container-6 {
  align-items: center;
  display: flex;
  position: relative;
  transform: rotate(-0.32deg);
  width: 51.18px;
}

.card .img {
  height: 25px;
  left: 217px;
  position: absolute;
  top: 8px;
  width: 27px;
}

/* ///////// */
/* Title 정렬 */


.text{
  color: var(--edugoormiocharade);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 30px;
  left: 0;
  letter-spacing: -0.1px;
  line-height: 30px;
  white-space: nowrap;}



.card .text-wrapper {
  font-weight: 400;
  letter-spacing: -0.02px;
}

.span {
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: -0.02px;
}